 
/* start css.sty */
.cmr-10{font-size:83%;}
.cmsy-10{font-size:83%;}
.cmssbx-10x-x-120{ font-family: sans-serif; font-weight: bold;}
.cmssbx-10x-x-120{ font-family: sans-serif; font-weight: bold;}
.cmssbx-10x-x-120{ font-family: sans-serif; font-weight: bold;}
.cmtt-12{font-family: monospace,monospace;}
.cmtt-12{font-family: monospace,monospace;}
.cmtt-12{font-family: monospace,monospace;}
.cmr-17x-x-143{font-size:202%;}
.cmbx-12x-x-207{font-size:207%; font-weight: bold;}
.cmbx-12x-x-207{ font-weight: bold;}
.cmbx-12x-x-207{ font-weight: bold;}
.cmbx-12x-x-207{ font-weight: bold;}
.cmr-12x-x-120{font-size:120%;}
.cmmi-12{font-style: italic;}
.cmbx-12{ font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.ectt-1095{font-size:83%; font-family: monospace,monospace;}
.cmr-10x-x-109{font-size:90%;}
.cmtt-10x-x-109{font-size:90%;font-family: monospace,monospace;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.cmtt-10x-x-109{font-family: monospace,monospace;}
.tctt-1095{font-size:83%;font-family: monospace,monospace;}
.tctt-1095{font-family: monospace,monospace;}
.cmbx-10x-x-109{font-size:90%; font-weight: bold;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmbx-10x-x-109{ font-weight: bold;}
.cmsy-10x-x-109{font-size:90%;}
.cmbx-10{font-size:83%; font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmti-12{ font-style: italic;}
.tctt-1200{font-family: monospace,monospace;}
.tctt-1200{font-family: monospace,monospace;}
.cmssbx-10x-x-80{font-size:66%; font-family: sans-serif; font-weight: bold;}
.cmssbx-10x-x-80{ font-family: sans-serif; font-weight: bold;}
.cmssbx-10x-x-80{ font-family: sans-serif; font-weight: bold;}
.tcsx-0800{font-size:66%;}
.cmssbx-10{font-size:83%; font-family: sans-serif; font-weight: bold;}
.cmssbx-10{ font-family: sans-serif; font-weight: bold;}
.cmssbx-10{ font-family: sans-serif; font-weight: bold;}
.tcsx-1000{font-size:83%;}
.cmbxti-10x-x-120{ font-weight: bold; font-style: italic;}
.cmtt-10{font-size:83%;font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
body#tex4ht-menu {white-space: nowrap; }
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; text-align:center; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.dedication {text-align:center;}
div.titlepage{ margin-bottom: 2em; text-align:center; }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc, .addchapToc a {line-height: 200%; font-weight:bold;}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
h1.partHead{text-align: center}
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
.caption td.id{font-weight: bold; white-space: nowrap; }
div.caption {text-align:center;}
.verse{white-space:nowrap; margin-left:2em}
h1.partHead{text-align: center}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
pre.fancyvrb {white-space: pre-wrap; margin:0em;font-family:monospace,monospace;}
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
.rotatebox{display: inline-block;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
div.array {text-align:center;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
dl.enumerate-enumitem{display:grid; grid-template-columns: 3ch 1fr;}
BODY#menu {background-color: rgb(28,78,99); }
BODY#menu {color: rgb(255,255,255); }
#menu ul.white { color: rgb(0,0,0); font-family: Verdana, Helvetica, Arial; font-face: sans-serif; font-size: 13}
#menu .small-white { color: rgb(0,0,0); font-family: Verdana, Helvetica, Arial; font-face: sans-serif; font-size: 10 }
#menu A:link {color: rgb(152,219,204);}
#menu A:visited {color: rgb(152,219,204); }
#colorbox1{border: solid 1px #000000;}
#colorbox1{background-color: rgb(238,255,204);}
#colorbox2{border: solid 1px #000000;}
#colorbox2{background-color: rgb(238,255,204);}
#colorbox3{border: solid 1px #000000;}
#colorbox3{background-color: rgb(238,255,204);}
#colorbox4{border: solid 1px #000000;}
#colorbox4{background-color: rgb(238,255,204);}
#colorbox5{border: solid 1px #000000;}
#colorbox5{background-color: rgb(238,255,204);}
#colorbox6{border: solid 1px #000000;}
#colorbox6{background-color: rgb(238,255,204);}
#colorbox7{border: solid 1px #000000;}
#colorbox7{background-color: rgb(238,255,204);}
#colorbox8{border: solid 1px #000000;}
#colorbox8{background-color: rgb(238,255,204);}
#colorbox9{border: solid 1px #000000;}
#colorbox9{background-color: rgb(238,255,204);}
#colorbox10{border: solid 1px #000000;}
#colorbox10{background-color: rgb(238,255,204);}
#colorbox11{border: solid 1px #000000;}
#colorbox11{background-color: rgb(238,255,204);}
#colorbox12{border: solid 1px #000000;}
#colorbox12{background-color: rgb(238,255,204);}
#colorbox13{border: solid 1px #000000;}
#colorbox13{background-color: rgb(238,255,204);}
#colorbox14{border: solid 1px #000000;}
#colorbox14{background-color: rgb(238,255,204);}
#colorbox15{border: solid 1px #000000;}
#colorbox15{background-color: rgb(238,255,204);}
#colorbox16{border: solid 1px #000000;}
#colorbox16{background-color: rgb(238,255,204);}
#colorbox17{border: solid 1px #000000;}
#colorbox17{background-color: rgb(238,255,204);}
#colorbox18{border: solid 1px #000000;}
#colorbox18{background-color: rgb(238,255,204);}
#colorbox19{border: solid 1px #000000;}
#colorbox19{background-color: rgb(238,255,204);}
#colorbox20{border: solid 1px #000000;}
#colorbox20{background-color: rgb(238,255,204);}
#colorbox21{border: solid 1px #000000;}
#colorbox21{background-color: rgb(238,255,204);}
#colorbox22{border: solid 1px #000000;}
#colorbox22{background-color: rgb(238,255,204);}
#colorbox23{border: solid 1px #000000;}
#colorbox23{background-color: rgb(238,255,204);}
#colorbox24{border: solid 1px #000000;}
#colorbox24{background-color: rgb(238,255,204);}
#colorbox25{border: solid 1px #000000;}
#colorbox25{background-color: rgb(238,255,204);}
#colorbox26{border: solid 1px #000000;}
#colorbox26{background-color: rgb(238,255,204);}
#colorbox27{border: solid 1px #000000;}
#colorbox27{background-color: rgb(238,255,204);}
#colorbox28{border: solid 1px #000000;}
#colorbox28{background-color: rgb(238,255,204);}
#colorbox29{border: solid 1px #000000;}
#colorbox29{background-color: rgb(238,255,204);}
#colorbox30{border: solid 1px #000000;}
#colorbox30{background-color: rgb(238,255,204);}
#colorbox31{border: solid 1px #000000;}
#colorbox31{background-color: rgb(238,255,204);}
#colorbox32{border: solid 1px #000000;}
#colorbox32{background-color: rgb(238,255,204);}
#colorbox33{border: solid 1px #000000;}
#colorbox33{background-color: rgb(238,255,204);}
#colorbox34{border: solid 1px #000000;}
#colorbox34{background-color: rgb(238,255,204);}
#colorbox35{border: solid 1px #000000;}
#colorbox35{background-color: rgb(238,255,204);}
#colorbox36{border: solid 1px #000000;}
#colorbox36{background-color: rgb(238,255,204);}
#colorbox37{border: solid 1px #000000;}
#colorbox37{background-color: rgb(238,255,204);}
#colorbox38{border: solid 1px #000000;}
#colorbox38{background-color: rgb(238,255,204);}
#colorbox39{border: solid 1px #000000;}
#colorbox39{background-color: rgb(238,255,204);}
#colorbox40{border: solid 1px #000000;}
#colorbox40{background-color: rgb(238,255,204);}
#colorbox41{border: solid 1px #000000;}
#colorbox41{background-color: rgb(238,255,204);}
#colorbox42{border: solid 1px #000000;}
#colorbox42{background-color: rgb(238,255,204);}
#colorbox43{border: solid 1px #000000;}
#colorbox43{background-color: rgb(238,255,204);}
#colorbox44{border: solid 1px #000000;}
#colorbox44{background-color: rgb(238,255,204);}
#colorbox45{border: solid 1px #000000;}
#colorbox45{background-color: rgb(238,255,204);}
#colorbox46{border: solid 1px #000000;}
#colorbox46{background-color: rgb(238,255,204);}
#colorbox47{border: solid 1px #000000;}
#colorbox47{background-color: rgb(238,255,204);}
#colorbox48{border: solid 1px #000000;}
#colorbox48{background-color: rgb(238,255,204);}
#colorbox49{border: solid 1px #000000;}
#colorbox49{background-color: rgb(238,255,204);}
#colorbox50{border: solid 1px #000000;}
#colorbox50{background-color: rgb(238,255,204);}
span#textcolor51{color:#0000FF}
span#textcolor52{color:#0000FF}
#colorbox53{border: solid 1px #000000;}
#colorbox53{background-color: rgb(238,255,204);}
#colorbox54{border: solid 1px #000000;}
#colorbox54{background-color: rgb(238,255,204);}
#colorbox55{border: solid 1px #000000;}
#colorbox55{background-color: rgb(238,255,204);}
#colorbox56{border: solid 1px #000000;}
#colorbox56{background-color: rgb(238,255,204);}
#colorbox57{border: solid 1px #000000;}
#colorbox57{background-color: rgb(238,255,204);}
#colorbox58{border: solid 1px #000000;}
#colorbox58{background-color: rgb(238,255,204);}
#colorbox59{border: solid 1px #000000;}
#colorbox59{background-color: rgb(238,255,204);}
#colorbox60{border: solid 1px #000000;}
#colorbox60{background-color: rgb(238,255,204);}
#colorbox61{border: solid 1px #000000;}
#colorbox61{background-color: rgb(238,255,204);}
#colorbox62{border: solid 1px #000000;}
#colorbox62{background-color: rgb(238,255,204);}
#colorbox63{border: solid 1px #000000;}
#colorbox63{background-color: rgb(238,255,204);}
#colorbox64{border: solid 1px #000000;}
#colorbox64{background-color: rgb(238,255,204);}
#colorbox65{border: solid 1px #000000;}
#colorbox65{background-color: rgb(238,255,204);}
#colorbox66{border: solid 1px #000000;}
#colorbox66{background-color: rgb(238,255,204);}
#colorbox67{border: solid 1px #000000;}
#colorbox67{background-color: rgb(238,255,204);}
#colorbox68{border: solid 1px #000000;}
#colorbox68{background-color: rgb(238,255,204);}
span#textcolor69{color:#FF0000}
#colorbox70{border: solid 1px #000000;}
#colorbox70{background-color: rgb(238,255,204);}
#colorbox71{border: solid 1px #000000;}
#colorbox71{background-color: rgb(238,255,204);}
#colorbox72{border: solid 1px #000000;}
#colorbox72{background-color: rgb(238,255,204);}
#colorbox73{border: solid 1px #000000;}
#colorbox73{background-color: rgb(238,255,204);}
#colorbox74{border: solid 1px #000000;}
#colorbox74{background-color: rgb(238,255,204);}
#colorbox75{border: solid 1px #000000;}
#colorbox75{background-color: rgb(238,255,204);}
#colorbox76{border: solid 1px #000000;}
#colorbox76{background-color: rgb(238,255,204);}
#colorbox77{border: solid 1px #000000;}
#colorbox77{background-color: rgb(238,255,204);}
/* end css.sty */

